<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>SMS</title>
  <style media="screen">
    
    

    .jumbotron  h1 {
      text-align: center;
      margin-left: 50px;
      color:  #79094a;
      margin-bottom: 50px;
      
    }
    
    .alert {
      margin: 0px;
    }
    .lead{
      margin-bottom: 270px;
    }
    
  </style>

</head>

<body>
  {% include "school/navbar.html" %}
  {%block content%}

  {%endblock content%}
  {% include "school/footer.html" %}
</body>

</html>
