{% extends 'school/homebase.html' %}
{% block content %}
<br>
<br>
<div class="jumbotron" style="margin-bottom:0px; ">
  <h1 class="display-4" style="margin-top: 130px; margin-bottom: 20px; color: #202020; font-family: 'Roboto', sans-serif;">Login/SignUp To Continue...</h1>
  <p style=" color: #202020;">Welcome to teacher page</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="teachersignup" role="button" style= "background-color: #202020; ">Sign Up</a>
    <a class="btn btn-primary btn-lg" href="teacherlogin" role="button" style= "background-color: #202020;">Login</a>
  </p>
</div>
{% endblock content %}
